body {
  background-color: rgb(255, 252, 252);
}
h1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.background {
  background: white;
  max-width: 1000px;
  height: 500px;
  margin: 0 auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
  margin-top: 15px;
}

.dark-theme {
  background-color: #c3a9bc;
  color: rgb(9, 9, 9);
  margin-left: 705px;
  display: block;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
  box-shadow: rgb(124, 123, 123, 0.5);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  border: none;
}

.dark-theme:hover {
  background-color: rgba(109, 93, 106, 0.8);
  color: white;
}
h1 {
  text-align: center;
}
.song-name {
  margin-left: 30px;
  padding: 15px 0 0 0;
  margin-top: -20px;
  text-align: center;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
}

p {
  size: 16px;
  font-family: Arial, sans-serif;
  color: rgb(147, 147, 147);
  font-weight: 100;
  max-width: 1000px;
  text-align: center;
  margin-left: 250px;
}

iframe {
  border-radius: 3%;
  margin-left: 265px;
}

.img-galery {
  display: grid;
  width: 900px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  padding: 30px;
  margin-top: 20px;
  margin-left: 280px;
}
.first-image {
  max-width: 100%;
  border-radius: 5%;
  box-shadow: 0px 20px 30px rgba(65, 50, 100, 0.5);
  transition: all 150ms ease-in-out;
}
.first-image:hover {
  scale: 1.15;
}
.second-image {
  max-width: 100%;
  border-radius: 5%;
  box-shadow: 0 20px 30px rgba(65, 50, 100, 0.5);
  transition: all 150ms ease-in-out;
}
.second-image:hover {
  scale: 1.15;
}
.third-image {
  max-width: 100%;
  border-radius: 5%;
  box-shadow: 0 20px 30px rgba(65, 50, 100, 0.5);
  transition: all 150ms ease-in-out;
}
.third-image:hover {
  scale: 1.15;
}

h2 {
  padding: 15px 0 0 0;
  margin-top: -20px;
  margin-left: -20px;
  text-align: center;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.text-zwei {
  size: 16px;
  font-family: Arial, sans-serif;
  color: rgb(147, 147, 147);
  font-weight: 100;
  max-width: 1000px;
  text-align: center;
  margin-left: 250px;
}

.learn-more {
  background-color: #c3a9bc;
  color: rgb(9, 9, 9);
  margin-left: 705px;
  display: block;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
  box-shadow: rgb(124, 123, 123, 0.5);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  border: none;
  margin-top: 30px;
}
.learn-more:hover {
  background-color: rgba(109, 93, 106, 0.8);
  color: white;
}
.dark-configuration {
  background-color: rgb(81, 81, 81, 0.8);
}

.dark-configuration p {
  color: rgb(255, 252, 252);
}

.dark-configuration .background {
  background: rgb(0, 0, 0);
  max-width: 1000px;
  height: 500px;
  margin: 0 auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
  margin-top: 15px;
}

.dark-configuration h1 {
  color: rgb(255, 252, 252);
}

.dark-configuration .song-name {
  margin-left: 30px;
  padding: 15px 0 0 0;
  margin-top: -20px;
  text-align: center;
  font-size: 24px;
  color: rgb(255, 252, 252);
}
